<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfswx.my_receive.mapper.FileReceiveMapper">
    <resultMap id="resultMap" type="com.tfswx.my_receive.entity.MyFile">
        <result column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="FILEPATH" jdbcType="VARCHAR" property="filePath"/>
        <result column="FILETYPE" jdbcType="VARCHAR" property="fileType"/>
<!--        <result column="CJSJ" jdbcType="DATE" property="cjsj"/>-->
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
<!--        <result column="ZHXGSJ" jdbcType="DATE" property="zhxgsj"/>-->
        <result column="FINDTIME" jdbcType="INTEGER" property="findTime"/>
    </resultMap>

    <!--     查询文书文件-->
    <select id="getWsFilePathes" parameterType="map" resultMap="resultMap">
       SELECT f.wscflj filePath,
              f.zhxgsj,
              f.cjsj,
              'w' fileType,
              aj.ajlb_bm type
              --,f.bmsah
        FROM yx_ws_ajjzwj f
      INNER JOIN tyyw_gg_ajjbxx aj ON f.bmsah = aj.bmsah AND aj.sfsc = 'N'
        <if test='null != typeRestriction and ""!=typeRestriction'>
             AND aj.ajlb_bm IN (${typeRestriction})
        </if>
        <if test='null != ajdwbm and ""!=ajdwbm'>
            AND ${ajdwbm}
        </if>
       WHERE f.sfsc &lt;> 'Y'
       <if test='null != fdwbm and ""!=fdwbm'>
            AND ${fdwbm}
       </if>
            AND f.cjsj >= #{startDate} AND f.cjsj &lt;= #{endDate}
       ORDER BY f.cjsj
    </select>

    <!--    查询卷宗文件-->
    <select id="getDzjzFilePathes" parameterType="map" resultMap="resultMap">
        SELECT f.wjlj || '\' || f.wjmc || f.wjhz || '.encry' filePath,
               f.zhxgsj,
               f.cjsj,
               'd' fileType,
               aj.ajlb_bm type
               --,f.bmsah
        FROM yx_dzjz_jzmlwj f
       INNER JOIN tyyw_gg_ajjbxx aj ON f.bmsah = aj.bmsah AND aj.sfsc = 'N'
        <if test='null != typeRestriction and ""!=typeRestriction'>
            AND aj.ajlb_bm IN (${typeRestriction})
        </if>
        <if test='null != ajdwbm and ""!=ajdwbm'>
            AND ${ajdwbm}
        </if>
        WHERE f.sfsc = 'N'
        <if test='null != fdwbm and ""!=fdwbm'>
             AND ${fdwbm}
        </if>
             AND f.cjsj >= #{startDate} AND f.cjsj &lt;= #{endDate}
        ORDER BY f.cjsj
    </select>


    <select id="getNewestNum" resultType="java.lang.Integer">
        select count(1) from sjfh_file_newest where  ROWNUM &lt;= 10000
    </select>

    <select id="getNewest" parameterType="java.util.Map" resultMap="resultMap">
        select id,filePath,type,fileType,zhxgsj,cjsj from sjfh_file_newest
    </select>

    <delete id="deleteNewestById" parameterType="java.lang.String">
        delete from sjfh_file_newest where id=#{id}
    </delete>

    <insert id="insertNoFile" parameterType="com.tfswx.my_receive.entity.MyFile">
        insert into SJFH_FILE_NOFILE(filePath,type,fileType,zhxgsj,cjsj ) VALUES (#{filePath},#{type},#{fileType},#{zhxgsj},#{cjsj})
    </insert>

    <insert id="updateNoFileById" parameterType="com.tfswx.my_receive.entity.MyFile">
        UPDATE SJFH_FILE_NOFILE SET FINDTIME = #{findTime} WHERE ID = #{id}
    </insert>

    <select id="getNoFileNumByFindTime" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select COUNT(1) from SJFH_FILE_NOFILE WHERE FINDTIME &lt;= #{findTime}
    </select>

    <select id="getNoFileByFindTime" resultMap="resultMap" parameterType="java.lang.Integer">
        select id,filePath,type,fileType,zhxgsj,cjsj,findTime from SJFH_FILE_NOFILE WHERE FINDTIME &lt;= #{findTime} AND ROWNUM &lt;= 10000
    </select>

    <delete id="deleteNoFileById" parameterType="java.lang.String">
        delete from SJFH_FILE_NOFILE where id = #{id}
    </delete>

    <!--<delete id="deleteNewestByFileType" parameterType="java.lang.String">
        delete from SJFH_FILE_NOFILE where fileType = #{fileType}
    </delete>-->


    <select id="findTables" resultType="java.lang.Integer">
        select count(1) from user_tables where table_name = #{tableName}
    </select>

    <select id="findTrigger" resultType="java.lang.Integer">
        select count(1) from all_triggers WHERE OWNER = 'TYYW'and TRIGGER_NAME = #{triggerName}
    </select>

    <select id="createNewFileTable" >
       create table SJFH_FILE_NEWEST
        (
          id   varchar2(32) default sys_guid(),
          filePath varchar2(500),
          type CHAR(4),
          fileType char(1),
          zhxgsj date,
          cjsj date
        )
    </select>

    <select id="createDzjzTrigger" statementType="STATEMENT" >
     CREATE OR REPLACE TRIGGER file_dzjz_update
    AFTER INSERT OR UPDATE ON yx_dzjz_jzmlwj
    FOR EACH ROW
    DECLARE
    MYTYPE varchar2(100);
    BEGIN
     select ajlb_bm into MYTYPE from tyyw_gg_ajjbxx where bmsah = :NEW.BMSAH;
     INSERT INTO sjfh_file_newest(filePath,TYPE,fileType,ZHXGSJ,CJSJ) VALUES (:NEW.wjlj||'\'||:NEW.wjmc||:NEW.wjhz||'.encry',MYTYPE,'d',:NEW.ZHXGSJ,:NEW.CJSJ);
    END;
    </select>

    <select id="createWsTrigger" statementType="STATEMENT" >
        CREATE OR REPLACE TRIGGER file_ws_update
        AFTER INSERT OR UPDATE ON YX_WS_AJJZWJ
        FOR EACH ROW
        DECLARE
         MYTYPE varchar2(100);
        BEGIN
         select ajlb_bm into MYTYPE from tyyw_gg_ajjbxx where bmsah = :NEW.BMSAH;
         INSERT INTO sjfh_file_newest(filePath,TYPE,fileType,ZHXGSJ,CJSJ) VALUES (:NEW.WSCFLJ,MYTYPE,'w',:NEW.ZHXGSJ,:NEW.CJSJ);
        END;
    </select>

    <select id="createNoFileTable">
        create table SJFH_FILE_NOFILE
        (
          id       VARCHAR2(32) default sys_guid() not null,
          filePath     VARCHAR2(500),
          type     CHAR(4),
          fileType CHAR(1),
          zhxgsj   DATE,
          cjsj DATE,
          findtime NUMBER default 0
        )
    </select>
    <select id="createDownloadTable">
        create table SJFH_FILE_DOWNLOAD
        (
            BMSAH    VARCHAR2(100),
            FILEPATH VARCHAR2(500),
            FILETYPE CHAR(1)
        )
    </select>



</mapper>